.wrapper
  /#チャットページのヘッダー
  .chat-body
    .chat-body__sub
      = render 'shared/group_side'
      .chat-main
        .chat-header__box
          .chat-header__box--group
            = @group.name
          .chat-header__box--member
            Member :
            - @group.group_users.each do |group_user|
              .chat-header__box--member__text
                = group_user.user.nickname
          .chat-header__edit
            = link_to edit_group_path(@group) do
              .chat-header__edit--text
                Edit
        .chat-main__body
          .chat-box
            = render  @messages
        = form_for [@group, @message] do |f|
          .chat-main__form
            .chat-main__form--box
              = f.text_field :content,  id: "chat-input", class: "chat-input", placeholder: 'type a message'
              = f.label :image, class: 'input-box__image' do
                %i.fas.fa-image.image-icon
                = f.file_field :image, class: 'input-image'
              .massage-send
                = f.submit "Send", class: 'message-btn' ,id:"message-btn"