.wrapper
  .signup-body
    .signup-body__sub
      .signup-body__signup
        Signup
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .signup-body__box
          .signup-body__image
            = f.label :image do
              .signup-body__image--box
                %p
                  Image
                  Upload
              = f.file_field :image, autofocus: true ,class: 'input-image'
          .signup-body__name
            = f.label :nickname
            %br/
            = f.text_field :nickname, autofocus: true, maxlength: "10"
        #preview
        .signup-body__text
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .signup-body__text
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .signup-body__text
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "Signup", class: 'signup-btn'
          .signup-body__login
            = render "devise/shared/links"