.wrapper
  .mypage-header
    %h1
      = link_to "/"  do
        HOME
    %h2
      myname
    %ul
      %li
        = link_to "" do
          %span
            Friend
      %li
        = link_to "" do
          %span
            Category
      %li
        = link_to "" do
          %span
            Toppage
  .mypage-body
    .mypage-body__sub
      .mypage-category
        %ul
          %li.mypage-category__list
            = link_to "" do
              mypage
          %li.mypage-category__list
            = link_to "" do
              music
          %li.mypage-category__list
            = link_to "" do
              movie
          %li.mypage-category__list
            = link_to "" do
              fasion
          %li.mypage-category__list
            = link_to "" do
              book
          %li.mypage-category__list
            = link_to "" do
              game
      .mypage-main
        .mypage-main__name
          %h1
            Name :
          %p
            名前aaaaa
        %ul
          = form_with model: @item, class: 'contents-box__form-list' do |f|
            %li
              .mypage-main__list--image
                %h2
                  PHOTO :
                .mypage-main__list--image__box
                  = f.file_field :image, name: 'product_images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
                #image
            %li
              .mypage-main__list
                %h3
                  Gender :
                %p
                  men
            %li
              .mypage-main__list
                %h4
                  date of birth :
                %p
                  1993/08/02
            %li
              .mypage-main__list
                %h5
                %p
            %li
              .mypage-main__list
                %h6
                %p
            %li
              .mypage-main__list
                %h7
                %p
            %li
              .mypage-main__list
                %h8
                %p

