.wrapper
  .mypage-header
    %h1
      = link_to "/"  do
        HOME
    %h2
      myname
    %ul
      %li
        = link_to "" do
          %span
            Friend
      %li
        = link_to "" do
          %span
            Category
      %li
        = link_to "" do
          %span
            Toppage
  .mypage-body
    .mypage-body__sub
      .mypage-category
        %ul
          %li.mypage-category__list
            = link_to "" do
              music
          %li.mypage-category__list
            = link_to "" do
              movie
          %li.mypage-category__list
            = link_to "" do
              fasion
          %li.mypage-category__list
            = link_to "" do
              book
          %li.mypage-category__list
            = link_to "" do
              game
      .mypage-main
        .mypage-main__name
          %h1
            Name:
          %p
            名前aaaaa
        %ul
          %li.mypage-main__list
            PHOTO
            
