.wrapper
  .login-body
    .login-body__sub
      .login-body__header
        Login
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field__log
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field__log
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field__log--member
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Login", class: 'login-body__btn'
      = render "devise/shared/links"
  .main-footer